:root {
	--a-color: #1890b3;
	--nav-gradient: linear-gradient(0.25turn, #17067a, #5310f0, #17057c); 
}

*:focus {
  outline: none;
}

a {
	color: var(--a-color);
	transition: all 0.2s;
}

a:hover {
	color: #56b7d4;
	text-decoration: none;
}

.text-dark {
	color: #343a40!important;
}

a.text-dark:focus, a.text-dark:hover {
	color: var(--a-color)  !important;
}

/****************************
NAVBAR
****************************/


.latynavigation {
	background: var(--nav-gradient);
	box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
	transition: top 0.2s ease-in-out;
	color: #fff;
	position: sticky;
	top: 0;
	right: 0;
	left: 0;
	bottom: auto;
	z-index: 1030;
}

.latynavigation .form-control {
	font-size: 0.8rem;
	border-radius: 30px;
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, 0.04);
	min-width: 180px;
}

.latynavigation .form-inline {
	margin-left: 15px;
}

.latynavigation .form-inline .btn {
	margin-left: -50px;
	border: 0;
	border-radius: 30px;
	cursor: pointer;
}

.latynavigation .form-inline .btn:hover,
.latynavigation .form-inline .btn:active {
	background: transparent;
	color: green;
}

.navbar-brand {
	font-weight: 900;
	color: #fff;
	font-size: 1.5rem;
}

.navbar-brand:hover {
	color: #c4ffe4;
}

.navbar-brand img {
	max-height: 30px;
	margin-right: 5px;
}

/* .latynavigation .dropdown-menu {
	border: 1px solid rgba(0, 0, 0, 0.08);
	margin: .5rem 0 0;
} */



.latynavigation .search-icon {
	margin-left: -40px;
	display: inline-block;
	margin-top: 3px;
	cursor: pointer;
}


.navbar {
	/* position: relative; */
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: .5rem 1rem;
}



.navbar>.container, .navbar>.container-fluid {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.navbar-collapse {
	flex-basis: 100%;
	flex-grow: 1;
	align-items: center;
}

.collapse:not(.show) {
	display: none;
}



.navbar-toggler {
	padding: .25rem .75rem;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: .25rem;
	border: none;
	cursor: pointer;
	outline: none;
}

.navbar-toggler-icon {
	background-image: url(/img/hamburger_icon_white.svg); 
}

.navbar-toggler-icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	content: "";
}

.navbar-toggler:not(:disabled):not(.disabled) {
	cursor: pointer;
	outline: none;
}
.navbar-toggler:not(:disabled):not(.disabled) {
	cursor: pointer;
}
.navbar-toggler:focus, .navbar-toggler:hover {
	text-decoration: none;
}

.navbar-navi {
	display: flex;
	/* flex-direction: column; */
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	padding-right: 0.5rem;
	flex-wrap: wrap;
	justify-content: center;
}

.navi-item,
.dropdown-menu {
	font-size: 0.8rem;
	text-transform: uppercase;
	padding: 0.1rem 0.3rem;
}

.navi-link {
	display: block;
	padding: 0.1rem 0.2rem;
}

.navbar-navi .navi-link {
	color: rgb(255, 255, 255)
}

.navbar-navi .navi-link:hover {
	color: rgb(255, 211, 172);
}

@media screen and (min-width:992px) {
	.navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
	}
	.navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
    flex-wrap: nowrap;
	}

	.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
	} 
	.navbar-expand-lg .navbar-toggler {
	display: none;
	}
}

@media screen and (max-width: 991.99px) {
	.navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
    padding-right: 0;
    padding-left: 0;
	}
	.navbar-navi {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}


/****************************
SITE CONTENT CONTAINER
****************************/

.site-content {
	min-height: 60vh;
	padding-top: 1.5rem;
	margin-top: 15px;
	transition: all 0.4s;
}

/****************************
MAIN CONTENT CONTAINER
****************************/

.main-content {
  min-height: 300px;
}

.container, .post-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 576px){
  .container, .post-container {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px){
  .container, .post-container {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px){
  .container {
    max-width: 900px;
  }
	.post-container {
    max-width: 800px;
  }
}

@media screen and (min-width: 1200px){
  .container {
    max-width: 1140px;
  }
	.post-container {
		max-width: 820px;
	}
}



/****************************
POST
****************************/

/* HEADING */

.mainheading {
    padding: 1rem 0rem;
}

.mainheading h1.posttitle {
    font-weight: 700;
    margin-bottom: 1.5rem;
}

/* META */

.post-meta-item {
    color: rgba(0, 0, 0, .54);
    display: inline-block;
    margin-right: 10px;
}

/* .custom-taxonomy {
    text-transform: capitalize;
} */


/****************************
PAGINATION
****************************/

.bottompagination span.navigation {
    display: block;
    font-size: 0.93rem;
    padding: 15px 0 0 0;
    text-align: center;
    margin-bottom: 0rem;
    color: #999;
    border-top: 1px solid #ddd;
}

.pointerup {
    margin-bottom: -17px;
    margin-left: 49%;
    font-size: 30px;
}

.pointerup i.fa {
    color: #eaeaea;
}

.bottompagination span.navigation i {
    display: inline-block;
}

span.navigation {
    display: inline-block;
    font-size: 0.93rem;
    font-weight: 700;
    text-align: center;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    text-align: right;
    justify-content: center;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: var(--a-color);
    background-color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: var(--a-color);
}

.page-link:focus {
    outline: none;
}

/* CARD STYLE */

.listfeaturedtag h4.card-text, 
.listrecent h4.card-text {
	color: rgba(0, 0, 0, .54);
	font-size: 0.95rem;
	line-height: 1.6;
	font-weight: 400;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border-radius: 4.5rem;
	border: none;
}

.card-body,
.card-body-projects  {
	flex: 1 1 auto;
	padding: 1.5rem;
}

.card-body {
	background: #f5f5f5;
}

.card-footer {
	padding: .75rem 1.25rem;
	background-color: #f5f5f5!important;
	/* border-top: 1px solid rgba(0,0,0,.125); */
}


.listfeaturedtag .card,
.card-footer {
    border: 0;
}


/* FALLING ALL */

.appcontainer {
	position: relative;
	height: 100vh;
	width: 100%;
	background: var(--nav-gradient);
	overflow: hidden;
	
	/* font: 16px / 1.6em 'Roboto'; */
	color: #fff;
	font-weight: 600;
	margin: 0;
	padding: 0;
}

.fontFlake {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 10;
	position: block;
	color: #fff;
	line-height: 1em;
}

#fallingapp {
	position: absolute;
	left: 0;
	height: 1px;
	top: 0;
	right: 0;
	bottom: 0;
}