*:focus {
  outline: none;
}


/****************************
NAVBAR
****************************/

.navbar-light .navbar-toggler {
  outline: none;
}

/****************************
MAIN CONTENT CONTAINER
****************************/

.main-content {
  min-height: 300px;
}

.container, .post-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 576px){
  .container, .post-container {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px){
  .container, .post-container {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px){
  .container {
    max-width: 900px;
  }
	.post-container {
    max-width: 800px;
  }
}

@media screen and (min-width: 1200px){
  .container {
    max-width: 1140px;
  }
	.post-container {
		max-width: 820px;
	}
}



/****************************
POST
****************************/

/* HEADING */

.mainheading {
    padding: 1rem 0rem;
}

.mainheading h1.posttitle {
    font-weight: 700;
    margin-bottom: 1.5rem;
}

/* META */

.post-meta-item {
    color: rgba(0, 0, 0, .54);
    display: inline-block;
    margin-right: 10px;
}

/* .custom-taxonomy {
    text-transform: capitalize;
} */


/****************************
PAGINATION
****************************/

.bottompagination span.navigation {
    display: block;
    font-size: 0.93rem;
    padding: 15px 0 0 0;
    text-align: center;
    margin-bottom: 0rem;
    color: #999;
    border-top: 1px solid #ddd;
}

.pointerup {
    margin-bottom: -17px;
    margin-left: 49%;
    font-size: 30px;
}

.pointerup i.fa {
    color: #eaeaea;
}

.bottompagination span.navigation i {
    display: inline-block;
}

span.navigation {
    display: inline-block;
    font-size: 0.93rem;
    font-weight: 700;
    text-align: center;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    text-align: right;
    justify-content: center;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #00ab6b;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #00ab6b;
}

.page-link:focus {
    outline: none;
}